<style>
  html { font-size: 10px; }
  body { padding: 1rem; }
  .card {
    background-color: dodgerblue;
    color: white;
    padding: 0.1rem;
    height: 10rem;
  }
  .cards {
    max-width: 100%;
    margin: 0 auto;
    display: grid;
    grid-gap: 0.1rem;
  }
  @media (min-width: 600px) {
    .cards { grid-template-columns: repeat(2, 1fr); }
  }
  @media (min-width: 900px) {
    .cards { grid-template-columns: repeat(8, 1fr); }
  }
</style>


<div class="cards">
  <% Application.where("app_name <> 'n/a' AND app_name is not null").each do |app| %>
    <div class="card" style="background-color:dodgerblue;">
      <% if !app.app_name.blank? then %>
        <strong style='font-size:16px;'><%= app.app_name %></strong><br />
        <% platforms = @app_info[app.app_name][:platforms] rescue "# 0" %>
        <% host      = @app_info[app.app_name][:host]      rescue "---" %>
        <% p1_p2     = @app_info[app.app_name][:p1_p2]     rescue "---" %>
        <%= host.html_safe     %>
        <%= p1_p2.html_safe    %>
        <%= platforms.html_safe %>
      <% end %>
    </div>
  <% end %>
</div>



<script>
  $(document).ready(function() {
    setInterval(function() {
      /* [vm+pods] Connectivity issue */
      $('.card').each(function() {         
        r = /# 0/gi;         
        if (this.textContent.toString().match(r)) {
          fill = $(this).attr("style");          
          if (fill == "background-color:dodgerblue;") {
            $(this).attr("style", "background-color:red;");
          }
          else {
            $(this).attr("style", "background-color:dodgerblue;");
          }
        } 
      });
      /* [vm] Users logged in */
      $('.card').each(function() { 
        r = /(\d) (user)/
        let result = this.textContent.toString().match(r);
        if (result) {
          users_no = result[0];
          if (users_no != "0 user") {
            $(this).attr("style", "background-color:silver;");
          }
        } 
      });
    },1000);
  });

  /* refresh every N seconds */
  setInterval(function() {
    location.reload();
  }, 10000);

</script>

